
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <title>GrassyWomen - Medical Cannabis</title>
    <!-- Site Metas -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>GrassyWomen</title>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/site.css" rel="stylesheet" />
 </head>
 <body class="sub_page">
   <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <img src="~/img/logo only.png" alt="" />
            <span>
              Grassy
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="Index.cshtml">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="About.cshtml"> About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Product.cshtml"> Products </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Testimonial.cshtml"> Testimonials </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Contact.cshtml">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Blog.cshtml">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Faq.cshtml">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Gallery.cshtml">Gallery</a>
                 </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
    </div>
    <!-- end header section -->
  
       <!-- end hero area -->
    <!-- about section -->

      <section class="about_section layout_padding">
    <div class="about_container">
      <div class="container">
        <div class="detail">
          <h2 class="custom_heading">
            About Us
          </h2>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of g it
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of g it
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->


  <!-- info section -->

    <section class="info_section layout_padding">
    <div class="container layout_padding-top  layout_padding2-bottom">
      <div class="logo-box">
        <a href="Index.cshtml">
          <img src="~/img/info-logo.png" alt="">
        </a>
      </div>
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="~/img/location-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
                <img src="~/img/envelope-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="~/img/envelope-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                +02 1234567890
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </section>

  <!-- end info_section -->
     <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2022 All Rights Reserved By GrassyWomen
      
    </p>
  </section>
  <!-- footer section -->
  </body>
